.icon_right_arrow:before {
  content: "\e6d9";
}
header {
  width: 100%;
  height: 45px;
  background-color: #4a4a4a;
  font-size: 16px;
  line-height: 45px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 888;
}
header .icon_right_arrow {
  color: #fff;
  font-size: 16px;
  z-index: 9;
  position: relative;
}
header .icon_right_arrow:before {
  color: #fff;
  font-size: 20px;
  margin: 0 4px 0 7px;
  margin-top: 2px;
  vertical-align: middle;
}
header h3 {
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
}
.top_zhanwei {
  height: 45px;
}
