@charset "utf-8";
.icon-view:before {
  content: "\e6f9";
}
.layout {
  width: 100%;
  position: relative;
}
.layout img {
  width: 100%;
}
.qr-box {
  background-color: #fff;
  padding: 0.06666667rem;
  border-radius: 0.05333333rem;
  position: absolute;
  top: 4.8rem;
  width: 4.13333333rem;
  height: 4.13333333rem;
  left: 0;
  right: 0;
  margin: auto;
  box-shadow: 0 1px 16px -2px #666;
}
.qr-text {
  background-color: #fff;
  border-radius: 0.05333333rem;
  position: absolute;
  top: 9.46666667rem;
  width: 6.26666667rem;
  height: 0.8rem;
  line-height: 0.8rem;
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
  font-weight: 600;
  font-size: 0.4rem;
  box-shadow: 0 3px 20px -2px #666;
}
.name {
  color: #ba0000;
  -webkit-user-select: none;
}
