header {
  width: 100%;
  height: 1.2rem;
  background-image: linear-gradient(0deg, #4C4C50 1%, #2F3032 100%);
  background-color: #4c4c50;
  line-height: 1.2rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 888;
}
[data-dpr='1'] header {
  font-size: 16px;
}
[data-dpr='2'] header {
  font-size: 32px;
}
[data-dpr='3'] header {
  font-size: 48px;
}
header .icon_right_arrow {
  color: #fff;
  position: relative;
  z-index: 5;
}
[data-dpr='1'] header .icon_right_arrow {
  font-size: 15px;
}
[data-dpr='2'] header .icon_right_arrow {
  font-size: 30px;
}
[data-dpr='3'] header .icon_right_arrow {
  font-size: 45px;
}
header .icon_right_arrow:before {
  color: #fff;
  margin: 0 0.10666667rem 0 0.2rem;
  margin-top: 0.04rem;
  vertical-align: middle;
}
[data-dpr='1'] header .icon_right_arrow:before {
  font-size: 22px;
}
[data-dpr='2'] header .icon_right_arrow:before {
  font-size: 44px;
}
[data-dpr='3'] header .icon_right_arrow:before {
  font-size: 66px;
}
header h3 {
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
}
.top_zhanwei {
  height: 1.2rem;
}
body,
html,
.layout {
  background-color: #f9fbfd;
}
.layout {
  position: relative;
}
[data-dpr='1'] .layout {
  font-size: 14px;
}
[data-dpr='2'] .layout {
  font-size: 28px;
}
[data-dpr='3'] .layout {
  font-size: 42px;
}
.head {
  width: 100%;
  height: 4.26666667rem;
  background: #FF5230;
  color: #fff;
  padding: 0.53333333rem 0.4rem;
}
.head h3 {
  margin-left: 0.4rem;
  line-height: 0.64rem;
}
[data-dpr='1'] .head h3 {
  font-size: 18px;
}
[data-dpr='2'] .head h3 {
  font-size: 36px;
}
[data-dpr='3'] .head h3 {
  font-size: 54px;
}
.head p {
  margin-left: 0.4rem;
  opacity: 0.5;
}
.content {
  background-color: #fff;
  border-radius: 0.16rem;
  padding: 0.53333333rem 0.4rem 0.53333333rem 1.01333333rem;
  width: 9.2rem;
  margin: -2.13333333rem auto 0;
  line-height: 0.8rem;
  position: relative;
}
[data-dpr='1'] .content {
  font-size: 12px;
}
[data-dpr='2'] .content {
  font-size: 24px;
}
[data-dpr='3'] .content {
  font-size: 36px;
}
.content:before {
  content: "";
  position: absolute;
  width: 0.05333333rem;
  height: 4.26666667rem;
  top: 0.85333333rem;
  left: 0.50666667rem;
  background-color: #EAEAEC;
}
.content h3 {
  color: #2E3145;
  position: relative;
}
[data-dpr='1'] .content h3 {
  font-size: 14px;
}
[data-dpr='2'] .content h3 {
  font-size: 28px;
}
[data-dpr='3'] .content h3 {
  font-size: 42px;
}
.content h3:before {
  content: "";
  position: absolute;
  width: 0.24rem;
  height: 0.24rem;
  top: 0.24rem;
  left: -0.58666667rem;
  border-radius: 50%;
  background-color: #FF5230;
}
.content .state {
  background: #F7F7F7;
  color: rgba(255, 82, 48, 0.7);
  float: right;
  height: 0.42666667rem;
  line-height: 1.3;
  width: 1.06666667rem;
  text-align: center;
  padding-top: 0.08rem;
  margin-top: 0.13333333rem;
  border-radius: 0.05333333rem;
}
[data-dpr='1'] .content .state {
  font-size: 10px;
}
[data-dpr='2'] .content .state {
  font-size: 20px;
}
[data-dpr='3'] .content .state {
  font-size: 30px;
}
.content p {
  color: rgba(46, 49, 69, 0.7);
}
.content .top {
  height: 4.05333333rem;
  border-bottom: 1px solid rgba(238, 240, 242, 0.8);
}
.content .bottom {
  padding-top: 0.21333333rem;
}
.content .bottom h3:before {
  background-color: #EAEAEC;
}
.success:before {
  background-color: #FF5230;
}
.success .bottom h3:before {
  background-color: #FF5230;
}
.success .state {
  color: rgba(255, 82, 48, 0.7);
}
.tip {
  line-height: 1.6rem;
  text-align: center;
  color: rgba(46, 49, 69, 0.5);
}
[data-dpr='1'] .tip {
  font-size: 12px;
}
[data-dpr='2'] .tip {
  font-size: 24px;
}
[data-dpr='3'] .tip {
  font-size: 36px;
}
.tip a {
  text-decoration: underline;
  color: rgba(46, 49, 69, 0.5);
}
.login-btn {
  background: #FF5230;
  color: #FFFFFF;
  width: 7.86666667rem;
  height: 1.17333333rem;
  border-radius: 0.05333333rem;
  display: block;
  margin: 0.53333333rem 0 0 -0.4rem;
}
[data-dpr='1'] .login-btn {
  font-size: 14px;
}
[data-dpr='2'] .login-btn {
  font-size: 28px;
}
[data-dpr='3'] .login-btn {
  font-size: 42px;
}
#returnBack {
  border-radius: 0.43rem 0 0 0.43rem;
  color: #fff;
  height: 0.7rem;
  line-height: 0.7rem;
  padding: 0px 0.13rem 0 0.41rem;
  letter-spacing: 0.08rem;
  font-size: 0.4rem;
  position: fixed;
  right: -1px;
  bottom: 2.1rem;
  z-index: 400;
  background: rgba(1, 1, 1, 0.5);
  z-index: 999;
}
