header {
  width: 100%;
  height: 1.2rem;
  background-image: linear-gradient(0deg, #4C4C50 1%, #2F3032 100%);
  background-color: #4c4c50;
  line-height: 1.2rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 888;
}
[data-dpr='1'] header {
  font-size: 16px;
}
[data-dpr='2'] header {
  font-size: 32px;
}
[data-dpr='3'] header {
  font-size: 48px;
}
header .icon_right_arrow {
  color: #fff;
  position: relative;
  z-index: 5;
}
[data-dpr='1'] header .icon_right_arrow {
  font-size: 15px;
}
[data-dpr='2'] header .icon_right_arrow {
  font-size: 30px;
}
[data-dpr='3'] header .icon_right_arrow {
  font-size: 45px;
}
header .icon_right_arrow:before {
  color: #fff;
  margin: 0 0.10666667rem 0 0.2rem;
  margin-top: 0.04rem;
  vertical-align: middle;
}
[data-dpr='1'] header .icon_right_arrow:before {
  font-size: 22px;
}
[data-dpr='2'] header .icon_right_arrow:before {
  font-size: 44px;
}
[data-dpr='3'] header .icon_right_arrow:before {
  font-size: 66px;
}
header h3 {
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
}
.top_zhanwei {
  height: 1.2rem;
}
.icon_coin:before {
  content: "\e614";
}
body,
html,
.layout {
  background-color: #f9fbfd;
}
[data-dpr='1'] .layout {
  font-size: 12px;
}
[data-dpr='2'] .layout {
  font-size: 24px;
}
[data-dpr='3'] .layout {
  font-size: 36px;
}
.information {
  background-color: #fff;
  padding-left: 0.4rem;
}
[data-dpr='1'] .information {
  font-size: 14px;
}
[data-dpr='2'] .information {
  font-size: 28px;
}
[data-dpr='3'] .information {
  font-size: 42px;
}
.information .name {
  color: rgba(46, 49, 69, 0.7);
}
.information .value {
  color: #2E3145;
}
.information .red-value {
  color: #FF5230;
}
[data-dpr='1'] .information .red-value {
  font-size: 18px;
}
[data-dpr='2'] .information .red-value {
  font-size: 36px;
}
[data-dpr='3'] .information .red-value {
  font-size: 54px;
}
.information li {
  height: 1.17333333rem;
  line-height: 1.17333333rem;
  padding-right: 0.4rem;
  border-bottom: 1px solid rgba(238, 240, 242, 0.7);
}
.information li:nth-last-child(1) {
  border-bottom: 0;
}
.deal {
  background-color: #fff;
  margin-top: 0.26666667rem;
  width: 100%;
}
.deal h3 {
  height: 1.28rem;
  line-height: 1.28rem;
  border-bottom: 1px solid rgba(238, 240, 242, 0.7);
  padding: 0 0.4rem;
  font-weight: 600;
}
[data-dpr='1'] .deal h3 {
  font-size: 15px;
}
[data-dpr='2'] .deal h3 {
  font-size: 30px;
}
[data-dpr='3'] .deal h3 {
  font-size: 45px;
}
.deal .icon_coin:before {
  color: #ff5230;
  font-size: 1.4em;
  vertical-align: top;
  margin-right: 0.13333333rem;
}
.deal .text {
  padding: 0 0.4rem;
  color: #2E3145;
}
[data-dpr='1'] .deal .text {
  font-size: 14px;
}
[data-dpr='2'] .deal .text {
  font-size: 28px;
}
[data-dpr='3'] .deal .text {
  font-size: 42px;
}
.deal .black {
  color: #000;
}
.deal .orange {
  color: #FF5230;
}
[data-dpr='1'] .deal .orange {
  font-size: 18px;
}
[data-dpr='2'] .deal .orange {
  font-size: 36px;
}
[data-dpr='3'] .deal .orange {
  font-size: 54px;
}
.deal .name {
  color: rgba(46, 49, 69, 0.7);
}
.deal .value {
  color: #2E3145;
}
.deal input {
  margin-top: 0.32rem;
  text-align: right;
}
.deal input::-webkit-input-placeholder {
  color: rgba(46, 49, 69, 0.3);
}
.deal .red-value {
  color: #E82F2F;
}
[data-dpr='1'] .deal .red-value {
  font-size: 18px;
}
[data-dpr='2'] .deal .red-value {
  font-size: 36px;
}
[data-dpr='3'] .deal .red-value {
  font-size: 54px;
}
.deal li {
  height: 1.17333333rem;
  line-height: 1.17333333rem;
  padding-right: 0.16rem;
  border-bottom: 1px solid rgba(238, 240, 242, 0.7);
  overflow: hidden;
}
.deal li:nth-last-child(1) {
  border-bottom: 0;
}
.deal li .iconfont:before {
  font-size: 1.6em;
  color: rgba(46, 49, 69, 0.3);
  vertical-align: middle;
}
.deal li .icon_continue:before {
  color: #FF5230;
}
.deal li a {
  color: #FF5230;
}
.search-btn {
  background: #FF5230;
  color: #FFFFFF;
  width: 9.2rem;
  height: 1.33333333rem;
  margin-bottom: 0.4rem;
  border-radius: 0.08rem;
  display: block;
  margin: 0.8rem auto;
}
[data-dpr='1'] .search-btn {
  font-size: 14px;
}
[data-dpr='2'] .search-btn {
  font-size: 28px;
}
[data-dpr='3'] .search-btn {
  font-size: 42px;
}
#returnBack {
  border-radius: 0.43rem 0 0 0.43rem;
  color: #fff;
  height: 0.7rem;
  line-height: 0.7rem;
  padding: 0px 0.13rem 0 0.41rem;
  letter-spacing: 0.08rem;
  font-size: 0.4rem;
  position: fixed;
  right: -1px;
  bottom: 2.1rem;
  z-index: 400;
  background: rgba(1, 1, 1, 0.5);
  z-index: 999;
}
